/* Loader animation */
.loader {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left-color: #09f;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
  }
  
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* Loader container to center the loader */
  .loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
  }
  
  /* Loader text styling */
  .loader-text {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }
  