/* HomePage Styling */
.home-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
  }
  
  .intro-section {
    text-align: center;
    margin-bottom: 4rem;
  }
  
  .main-title {
    font-size: 3rem;
    color: rgb(194, 65, 12);
    margin-bottom: 1rem;
  }
  
  .intro-text {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 2rem;
  }
  
  .cta-button {
    padding: 12px 24px;
    font-size: 1.2rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }
  
  /* Features Section */
  .features-section {
    width: 100%;
    max-width: 1200px;
    text-align: center;
  }
  
  .features-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: rgb(194, 65, 12);
  }
  
  .features-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .feature-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center; /* Align content in the center */
  }
  
  .feature-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2);
  }
  
  .feature-card h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .feature-card p {
    font-size: 1.2rem;
    color: #666;
    text-align: center;
  }
  
  .feature-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
    display: block; /* Ensure the image behaves as a block element */
  }
  